.navbar_top
{
	border-bottom: 1px solid black;
	background-color: gray;
}

.crumb div
{
	list-style-type: none;
	padding-left: 0;
}

.crumb
{
	display: inline-block;
	color: #000;
	content: '>';
	font-size: 80%;
	font-weight: bold;
	padding: 0 3px;
}

/* div
{
	border: 1px solid red;
} */

.debug
{
	border: 1px solid red;
}
.debug > div
{
	border: 1px solid green;
}
.debug > div > div
{
	border: 1px solid blue;
}