/* .navbar_unitasdfasdf
{
	list-style-type: none;
	padding-left: 0;
	display: inline-block;
	color: #000;
	content: '>';
	font-size: 80%;
	font-weight: bold;
	padding: 0 3px;
} */

body
{
	margin: 0;
	background-color: black;
}

.navbar
{
	border-bottom: 1px solid black;
	background-color: gray;
	display: block;
	padding: 0.5% 5%;
}

.navbar__sf
{
	width: 100%;
	display: table;
}

.navbar__sf__index
{
	display: table-cell;
}

/*
.navbar__sf__links
{
	display: table-cell;
}
*/

.navbar__sf__links__sf
{
	display: table-cell;
}

.navbar__sf__bilan
{
	display: table-cell;
}


/* DEBUG ************************************************* */

/* div
{
	border: 1px solid red;
} */

.debug
{
	border: 1px solid red;
}
.debug > div
{
	border: 1px solid green;
}
.debug > div > div
{
	border: 1px solid blue;
}

.debug > div > div > div
{
	border: 1px solid magenta;
}

.debug > div > div > div > div
{
	border: 1px solid yellow;
}

.debug > div > div > div > div > div
{
	border: 1px solid cyan;
}

.debug > div > div > div > div > div > div
{
	border: 1px solid brown;
}