/* .navbar_unitasdfasdf
{
	list-style-type: none;
	padding-left: 0;
	display: inline-block;
	color: #000;
	content: '>';
	font-size: 80%;
	font-weight: bold;
	padding: 0 3px;
} */

body
{
	margin: 0;
}

.navbar
{
	border-bottom: 1px solid black;
	background-color: gray;
	padding: 0.5% 15%;
}

.navbar__1
{
	padding: 0% 0% 0% 0%;
}

.navbar__1__index
{
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	display: inline;
}

.navbar__1__links
{
	margin: 0em 0em 0em 0em;
	padding: 0em 0em 0em 0em;
	display: inline;
}

.navbar__1__links__1
{
	display: inherit;
}

.navbar__1__links__1__links
{
	display: inherit;
}

.navbar__1__links__1__links__1
{
	display: inherit;
}

/* .navbar__1__links__1__links__2
{
	display: inherit;
}

.navbar__1__links__1__links__3
{
	display: inherit;
}

.navbar__1__links__1__links__4
{
	display: inherit;
}

.navbar__1__links__1__links__5
{
	display: inherit;
} */

.navbar__1__links__1__bilan
{
	display: inherit;
}


/* DEBUG */

/* div
{
	border: 1px solid red;
} */

.debug
{
	border: 1px solid red;
}
.debug > div
{
	border: 1px solid green;
}
.debug > div > div
{
	border: 1px solid blue;
}

.debug > div > div > div
{
	border: 1px solid magenta;
}

.debug > div > div > div > div
{
	border: 1px solid yellow;
}

.debug > div > div > div > div > div
{
	border: 1px solid cyan;
}

.debug > div > div > div > div > div > div
{
	border: 1px solid brown;
}